<velt-wireframe style="display:none;">
	<velt-comment-dialog-wireframe>
		<!-- Ghost Banner -->
		<velt-comment-dialog-ghost-banner-wireframe></velt-comment-dialog-ghost-banner-wireframe>
		<!-- Private Banner -->
		<velt-comment-dialog-private-banner-wireframe></velt-comment-dialog-private-banner-wireframe>
		<!-- Assignee Banner -->
		<velt-comment-dialog-assignee-banner-wireframe></velt-comment-dialog-assignee-banner-wireframe>
		<!-- Header -->
		<velt-comment-dialog-header-wireframe></velt-comment-dialog-header-wireframe>
		<!-- Private Badge -->
		<velt-comment-dialog-private-badge-wireframe></velt-comment-dialog-private-badge-wireframe>
		<!-- Body -->
		<velt-comment-dialog-body-wireframe></velt-comment-dialog-body-wireframe>
		<!-- Composer -->
		<velt-comment-dialog-composer-wireframe></velt-comment-dialog-composer-wireframe>
		<!-- All Comments -->
		<velt-comment-dialog-all-comment-wireframe></velt-comment-dialog-all-comment-wireframe>
		<!-- Approve -->
		<velt-comment-dialog-approve-wireframe></velt-comment-dialog-approve-wireframe>
		<!-- Sign In -->
		<velt-comment-dialog-sign-in-wireframe></velt-comment-dialog-sign-in-wireframe>
		<!-- Upgrade -->
		<velt-comment-dialog-upgrade-wireframe></velt-comment-dialog-upgrade-wireframe>
		<!-- Suggestion Action -->
		<velt-comment-dialog-suggestion-action-wireframe></velt-comment-dialog-suggestion-action-wireframe>
	</velt-comment-dialog-wireframe>




	<velt-comment-dialog-header-wireframe>
		<!-- Following subcomponents can be used outside header as well -->
		<!-- Pin Dialog Header -->
		<velt-comment-dialog-status-wireframe></velt-comment-dialog-status-wireframe>
		<velt-comment-dialog-priority-wireframe></velt-comment-dialog-priority-wireframe>

		<div class="actions">
			<velt-comment-dialog-resolve-button-wireframe></velt-comment-dialog-resolve-button-wireframe>
			<velt-comment-dialog-options-wireframe></velt-comment-dialog-options-wireframe>
		</div>

		<!-- Sidebar Dialog Header -->
		<velt-comment-dialog-comment-category-wireframe></velt-comment-dialog-comment-category-wireframe>
		<velt-comment-dialog-comment-suggestion-status-wireframe></velt-comment-dialog-comment-suggestion-status-wireframe>

	</velt-comment-dialog-header-wireframe>




	<velt-comment-dialog-thread-card-wireframe>
		
		<div class="content-container">
			<velt-comment-dialog-thread-card-avatar-wireframe></velt-comment-dialog-thread-card-avatar-wireframe>
			<div class="content">
				<div class="user-info">
					<velt-comment-dialog-thread-card-name-wireframe></velt-comment-dialog-thread-card-name-wireframe>
					<velt-comment-dialog-thread-card-time-wireframe></velt-comment-dialog-thread-card-time-wireframe>
				</div>

				<div class="message-container">
					<velt-comment-dialog-thread-card-message-wireframe></velt-comment-dialog-thread-card-message-wireframe>
					<velt-comment-dialog-thread-card-attachments-wireframe></velt-comment-dialog-thread-card-attachments-wireframe>
					<velt-comment-dialog-thread-card-recordings-wireframe></velt-comment-dialog-thread-card-recordings-wireframe>
				</div>
			</div>
			<div class="options">
				<velt-comment-dialog-thread-card-options-wireframe></velt-comment-dialog-thread-card-options-wireframe>
				<velt-comment-dialog-thread-card-reactions-wireframe></velt-comment-dialog-thread-card-reactions-wireframe>
			</div>
		</div>

	</velt-comment-dialog-thread-card-wireframe>
</velt-wireframe>